#loging {
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.log_element, .register_element {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 70%;
}

.register_element {
    display: none;
}